@keyframes var-skeleton-animation {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

.sk {
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        animation: var-skeleton-animation 1s infinite;
        background: linear-gradient(
                        90deg,
                        hsla(0, 0%, 100%, 0),
                        hsla(0, 0%, 100%, 0.3),
                        hsla(0, 0%, 100%, 0)
        );
        transition: 0.25s background-color;
    }
}

.sk * {
    color: #eee;
}

.sk-text {
    --c: #eee;
    --fp: 0%;
    --sp: 0%;
    --lh: 0;

    display: inline-block;
    background-origin: content-box !important;
    background-clip: content-box !important;
    background-color: transparent !important;
    background-repeat: repeat-y !important;
    /*color: var(--c) !important;*/
    background-image: linear-gradient(transparent var(--fp), var(--c) 0, var(--c) var(--sp), transparent 0);
    background-size: 100% var(--lh);
    color: transparent !important;

}

.sk-text > * {
    color: transparent;
}

.sk-button {
    color: #eee !important;
    background: #eee !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.sk-border {
    /*outline: 1px solid #eee !important;*/
    border-color: #eee;
}

.sk-bg {
    background: #eee !important;
}

.sk-list {
    color: #eee;
}

.sk-input {
    background: #eee !important;
    color: transparent !important;
    border-color: transparent;
}

.sk-input::-webkit-input-placeholder {
    color: transparent !important;
}

.sk-block {
    background: rgba(0, 0, 0, 0.12) !important;
    border-color: rgba(0, 0, 0, 0.12) !important;
}

.sk-ignore {
    opacity: 0;
}

.sk-sub-block {
    background: #eee !important;
    border-color: rgba(0, 0, 0, 0.12) !important;
}



